@import "./bootstrap/functions";
@import "./variable_overrides";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";


// -- bs fix

.btn-link {
    border: none;
    padding: 0;
}


// --- navi ja header

header {
    margin-bottom: 2rem;
}

.service_name {
    margin-top: .5rem;
    font-size: 4rem;
    font-family: $font-family-serif;
    font-weight: 700;
}

.ylanavi {
    text-align: right;
    margin-top: 0.5rem;
}

.alanavi {
    margin-bottom: 1.5rem;
    display: inline-block;
    p, a { display: inline-block}
}

// --- kirjautuminen

.kirjautuminen {
    margin-top: 3rem;
    form {
        border: 1px solid $hentoharmaa;
        padding: 2rem;
    }
}


// --- viestilista

.uusiviestirivi, .viestirivi {
    border-bottom: 1px solid $hentoharmaa;
    p {
        font-weight: 400;
        color: $body-color;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin: 0;
    }
}

.viestirivi {
     &:hover{
        background-color: $hentooranssi;
        p {
            color: $oranssi;
        } 
    }
}

.pagination {
    margin-top: 2rem;
}

// --- viestin kirjoitus


#tagit {
    list-style-type: none;
    padding-left: 0.25em;
    label {
        padding-left: 1px;
    }
}

.alert {
    clear: both;
}

// --- ylläpito

.hallinnan_rivi {
    form {display: inline-block;}
}

// 