<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <title>TodoApp</title>
  </head>

  <body>

    {% if current_user.is_authenticated %}
    <p>
    Kirjautunut nimellä {{ current_user.kayttajanimi }} <a href="{{ url_for('kirjaudupois') }}">Kirjaudu ulos</a>
    
    </p>
    {% else %}
    <a href="{{ url_for('kirjaudu') }}">Kirjaudu</a>
    {% endif %}

    {% block body %}

    {% endblock %}
  </body>
</html>
