{% extends "layout.html" %}

{% block body %}

{% include 'includes/header.html' %}
<h1>{{ viesti.otsikko }}</h1>
<p class="meta small">
    {% for tagi in tagit %}
        <a href="/tagi/{{tagi.id}}">#{{tagi.nimi}}</a>
    {% endfor %}
    <br>
    @{{ kayttaja.kayttajanimi }} 
    | {{ viesti.luotu('%Y-%m-%d') }}
</p>

<p class="sisalto"> {{viesti.sisalto}}</p>

<hr>

{% for vastaus in vastaukset %}
    <p class="meta small">
        @{{ vastaus.kayttajanimi }} 
        | {{ vastaus.luotu('%Y-%m-%d') }}
    </p>
    <p class="sisalto"> {{vastaus.sisalto}}</p>
    <hr>

{% endfor %}



<a href="{{url_for('vastaus_muokkaa_uusi', viesti_id=viesti.id)}}">+uusi vastaus</a>

{% endblock %}