{% extends "layout.html" %}
{% block body %}

{% include 'includes/header.html' %}

<div class="alanavi">
    <a href="{{ url_for('yllapito') }} ">&lsaquo;Takaisin</a> |&nbsp; </a>
    <p>Taagin ylläpito | Taagien hallinta</p>
</div>
<p><a href="{{ url_for('tagi_muokkaa_uusi') }}">+lisää uusi tagi</a></p>
<ul>
    {% for tagi in tagit %}
    <li class="hallinnan_rivi">
        {{ tagi.nimi }} 
        <a href="{{ url_for('tagi_muokkaa', tagi_id=tagi.id) }}">muokkaa</a> 
        <form method="POST" action="{{ url_for('tagi_poista', tagi_id=tagi.id) }}">
            <input style="display: none;" type="text" name="poista" value="poistele"/>
            <input type="submit" value="poista" class="btn btn-primary btn-sm"/>
        </form> 
    </li>
    {% endfor %}
            

</ul>

<div class="modal fade" id="poistaModal" tabindex="-1" role="dialog" aria-labelledby="poistaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Poista </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="tagiId" id="bookId" value=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}