.btn-link {
  border: none;
  padding: 0; }

header {
  margin-bottom: 3rem; }

nav {
  margin-top: .5rem; }

.ylanavi {
  text-align: right;
  margin-top: 0.5rem; }

.navbar {
  padding: 0; }

.alanavi {
  margin-bottom: 1.5rem;
  display: inline-block; }
  .alanavi p, .alanavi a {
    display: inline-block; }

.kirjautuminen {
  margin-top: 3rem; }
  .kirjautuminen form {
    border: 1px solid #D8D8D8;
    padding: 2rem; }

.viestirivi {
  border-top: 1px solid #D8D8D8; }
  .viestirivi:hover {
    background-color: #FEFDFA; }
    .viestirivi:hover p {
      color: #E08F0B; }
  .viestirivi p {
    color: #444444;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0; }

.tagirivi form {
  display: inline-block; }
