{% block body %}
<header>
    <div class="row">
        <div class="col-12 ylanavi">
            {% if current_user.is_authenticated %}
            <p class="small"> Moi {{ current_user.kayttajanimi }} |
                <a href="{{ url_for('asetukset') }}">omat asetukset</a> |
                {% if current_user.yllapitaja is sameas true %}
                    <a href="{{ url_for('yllapito') }}">Taagin hallinta</a> |
                {% endif %}
                <a href="{{ url_for('kirjaudupois') }}">kirjaudu ulos</a>
            </p>
            {% else %}
            <p><a href="{{ url_for('kirjaudu') }}">Kirjaudu</a></p>
            {% endif %}
        </div>
    </div>


    
    <a class="service_name" href="{{ url_for('index') }}">Taagi</a>
        

</header>

{% endblock %}