{% block body %}
<header>
    <div class="row">
        <div class="col-12 ylanavi">
            {% if current_user.is_authenticated %}
            <p> Moi {{ current_user.kayttajanimi }} |
                <a href="{{ url_for('kayttaja') }}">asetukset</a> |
                <a href="{{ url_for('yllapito') }}">hallinta</a> |
                <a href="{{ url_for('kirjaudupois') }}">kirjaudu ulos</a>
            </p>
            {% else %}
            <p><a href="{{ url_for('kirjaudu') }}">Kirjaudu</a></p>
            {% endif %}
        </div>
    </div>

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{{ url_for('index') }}">Taagi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }} ">Kaikki</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('omat') }} ">Omat</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

</header>

{% endblock %}