{% extends "layout.html" %}
{% block body %}

<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 kirjautuminen">
            <p><a href="{{ url_for('kirjaudu') }}">Peruuta</a></p>
            <form method="POST" action="{{ url_for('kayttaja_uusi') }}">
                {% include 'includes/kirjautumisformi.html' %}
                <button type="submit" value="Login" class="btn btn-link float-right">Luo uusi käyttäjä</button>
            </form>
 
        </div>
    </div>

{% endblock %}
